@model List<Experience>

<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
    <h3 class="resume-title">Deneyimlerim</h3>
    @foreach (var item in Model)
    {
        <div class="resume-item">
            <h4>@item.Title</h4>
            <h5>@item.ExperienceDate</h5>
            <p><em>@item.Subtitle </em></p>
            <ul>
                <li>@item.Description</li>
            </ul>
        </div>
    }
</div>