@model Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Proje Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="PortfolioId" />
    <label>Proje Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Proje Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Proje Görseli</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Proje Kategorisi</label>
    <select asp-for="CategoryId" asp-items="@ViewBag.v" class="form-control">
        <option value="">--Seçiniz--</option>
    </select>
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>

