@model Service
@{
    ViewData["Title"] = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Eğitim Bilgisi Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="ServiceName" style="border:1px solid black;" />
    <br />
    <label>İkon</label>
    <input type="text" class="form-control" asp-for="Icon" style="border:1px solid black;" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" style="border:1px solid black;" />
    <br />
    <button class="btn btn-primary">Hizmet Bilgisi Oluştur</button>
</form>
