@model SocialMedia
@{
    ViewData["Title"] = "UpdateSocial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medya Güncelleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="SocialMediaId" />
    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="Name" style="border:1px solid black;" />
    <br />
    <label>link</label>
    <input type="text" class="form-control" asp-for="Url" style="border:1px solid black;" />
    <br />
    <label>İkon</label>
    <input type="text" class="form-control" asp-for="Icon" style="border:1px solid black;" />
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>