@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <label>Adınız Soyadınız:</label>
    <input type="text" class="form-control" />
    <br />
    <br />
    <label >Mail Adresi:</label>
    <input type="email" class="form-control" />
    <br />
    <br />
    <label >Telefon Numaranız:</label>
    <input type="tel" class="form-control" />
    <br />
    <br />
    <label >Konu:</label>
    <input type="text" class="form-control" />
    <br />
    <br />
    <label >Mesaj:</label>
    <textarea rows="5" class="form-control"></textarea>
    <br />
    <br />
    <button class="btn btn-info">Gönder</button>
</div>