@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_DefaultSidebarComponentPartial")

    <main class="main">
        <!-- Feature Section -->
        @await Component.InvokeAsync("_DefaultFeatureComponentPartial")

        <!-- /Feature Section -->
        <!-- About Section -->
        @await Component.InvokeAsync("_DefaultAboutComponentPartial")

        <!-- /About Section -->
        <!-- Stats Section -->
        @await Component.InvokeAsync("_DefaultStatsComponentPartial")


        <!-- /Stats Section -->
        <!-- Skills Section -->
        @await Component.InvokeAsync("_DefaultSkillComponentPartial")


        <!-- /Skills Section -->
        <!-- Resume Section -->
        <section id="resume" class="resume section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Öz Geçmiş</h2>
                <p>Eğitim ve Deneyim Bilgilerim Aşağıdaki Gibidir. </p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row">

                    @await Component.InvokeAsync("_DefaultEducationComponentPartial")

                    @await Component.InvokeAsync("_DefaultExperienceComponentPartial")

                </div>

            </div>

        </section><!-- /Resume Section -->
        <!-- Portfolio Section -->
        @await Component.InvokeAsync("_DefaultPortfolioComponentPartial")

        <!-- /Portfolio Section -->
        <!-- Services Section -->
        @await Component.InvokeAsync("_DefaultServiceComponentPartial")

        <!-- /Services Section -->
        <!-- Testimonials Section -->
        @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
        <!-- /Testimonials Section -->
        <!-- Contact Section -->
        @await Component.InvokeAsync("_DefaultContactComponentPartial")
        
        
        <!-- /Contact Section -->



    </main>

    <footer id="footer" class="footer position-relative light-background">
        <div class="container">
            <h3 class="sitename">Mehmet Zahit Akbulut</h3>
            <p>Eğitim Projeme Hoşgeldiniz.</p>
            <div class="container">
                <div class="copyright">
                    <span>Copyright</span> <strong class="px-1 sitename">Zahit</strong> <span>Bütün Hakları Saklıdır.</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll Top -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>
</html>