@model List<Feature>
<section id="hero" class="hero section light-background">

    <img src="~/MyResume-1.0.0/assets/img/hero-bg.jpg" alt="">

    <div class="container" data-aos="zoom-out">
        @foreach(var item in Model)
        {
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <h2>@item.NameSurname</h2>
                    <p>Çalışma Alanlarım <span class="typed" data-typed-items="@item.Workspaces">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
                    @await Component.InvokeAsync("_DefaultSocialMediaComponentPartial")
                </div>
            </div>
        }
        
    </div>

</section>