@model Skill
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yetenek Ekleme Sayfası</h1>

<form method="post">
    <label>Yetenek Başlığı</label>
    <input type="text" class="form-control" asp-for="SkillName" style="border:1px solid black;" />
    <br />
    <label>Yetenek Değeri</label>
    <input type="number" class="form-control" asp-for="SkillValue" style="border:1px solid black;" />
    <br />
    <button class="btn btn-primary">Yetenek Ekle</button>
</form>