@model List<Skill>
@{
    ViewData["Title"] = "SkillList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yetenekler Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek Başlığı</th>
        <th>Değer</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillId</td>
            <td>@item.SkillName</td>
            <td>@item.SkillValue</td>
            <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Skill/CreateSkill" class="btn btn-primary">Yeni Yetenek Girişi</a>