@model Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yetenek Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="SkillId" />
    <label>Yetenek Başlığı</label>
    <input type="text" class="form-control" asp-for="SkillName" style="border:1px solid black;" />
    <br />
    <label>Değer</label>
    <input type="number" class="form-control" asp-for="SkillValue" style="border:1px solid black;" />
    <br />
    <button class="btn btn-primary">Yetenek Güncelle</button>
</form>